*.core
*.log
.ditz-config
.gdb_history
.tissue
__fawm_config__/__fawm_config__
__fawm_config__/lex.yy.c
__fawm_config__/main.o
__fawm_config__/y.output
__fawm_config__/y.tab.c
__fawm_config__/y.tab.h
core
fawm/fawm
fawm/main.o
